

h1{
    padding-top: 200px;
    padding-bottom: 0;
    font-size: 55px;
    color:white;
    font-family:CoyrierNew;
    text-align:center;
    padding-top: 100px;
    padding-bottom:0;
    font-size: 55px;
    text-shadow: 2px 2px 4px #000000;
}


