<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>About us</title>
    <link rel="stylesheet"  href={{url_for('static',filename='style1.css')}}>

</head>
<body>
<div class="menu">
        <ul>
        <a href="/">Home</a>
            <a href="/contact">Contact</a>

      </ul>
</div>

<section class="about-us">
    <div class="about">
      <img src="/static/3C7A6788.JPG" class="pic">
      <div class="text">
        <h2>About Us</h2>

        <h5>Malak & Raed</h5>
          <p>we decided to make one of the biggest steps, we decided to travel and adventure to alot of countries.
            <ul>Why should we travel to collect moments ... and NOT things ?

        <li> It’s more fun to look forward to an experience than a thing.</li>
        <li> Moments are priceless</li>
        <li>Experiences help us learn about ourselves</li>
        <li> Moments allows us to bond with others</li>
        <li> Experiences create lasting stories</li>
        <li> Moments are fleeting</li>
        <li>Moments are a part of your identity</li>
        <li> Each experience is unique</li>
        <li> Material things tend to get boring quickly</li>
        <li>Buying experiences makes us happier than buying things</li></ul>
          </p>
<br><br>
      </div>
    </div>
  </section>


</body>
</html>