<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <link rel="stylesheet"  href={{url_for('static',filename='stylestyle.css')}}>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

</head>
<body>

<div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Umm El-Fahem, NP74</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+972 505588006</div>
          <div class="text-two">+972 523881071</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">malak2021994@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
        <input type="text" placeholder="Enter your message">
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
    </div>
  </div>

       <div class="wrapper">
         <div class="button">
            <div class="icon">
               <a href="https://www.facebook.com/malak.mahameed"><i class="fab fa-facebook-f"></i>
            </a></div>
            <span>Facebook</span>
         </div>
         <div class="button">
            <div class="icon">
               <a href="/"><i class="fab fa-twitter"></i>
            </a></div>
            <span>Twitter</span>
         </div>
         <div class="button">
            <div class="icon">
               <a href="https://www.instagram.com/m_abushakra/?utm_medium=copy_link"><i class="fab fa-instagram"></i>
            </a></div>
            <span>Instagram</span>
         </div>

         <div class="button">
          <div class="icon">
               <a href="/"><i class="fa fa-home"></i>
            </a></div>
            <span>Home</span>
         </div>
         <div class="button">
            <div class="icon">
               <a href="https://www.youtube.com/channel/UCNIKH2aDF1oF4fhAjLlXKKg"><i class="fab fa-youtube"></i>
            </a></div>
            <span>YouTube</span>
         </div>
      </div>

</body>
</html>